'%dev':
  tech-lab-ingester:
    export:
      INDICATOR:
        csv:
          to:
            gcp:
              enabled: false
      TECHNOLOGY:
        csv:
          to:
            gcp:
              enabled: false
    projects:
      per:
        page: 10
        platform: 100

camel:
  threadpool:
    pool-size: 5
    max-pool-size: 10
    max-queue-size: -1
quarkus:
  camel:
    routes-discovery:
      enabled: true
    expression:
      extraction-enabled: false
  datasource:
    db-kind: postgresql
    devservices:
      enabled: true
      port: 15432
      volumes:
        "data/database/postgresql": /var/lib/postgresql/data
      reuse: true
      db-name: tech-lab-ingester
      username: tech-lab-ingester
      password: tech-lab-ingester
    health:
      enabled: true
    jdbc:
      max-size: 100
  flyway:
    migrate-at-start: true
    baseline-on-migrate: true
  hawtio:
    authenticationEnabled: false
  hibernate-orm:
    database:
      generation: update
  log:
    console:
      level: DEBUG
    category:
      io.smallrye.graphql.client:
        level: TRACE
        min-level: TRACE
      org.jboss.resteasy.reactive.client.logging:
        level: INFO
  rate-limiter:
    buckets:
      librariesio:
        limits:
          - period: 1m
            permitted-uses: 60
            shared: true
          - period: 1m
            permitted-uses: 60
            shared: true
  rest-client:
    npmjs-api:
      url: https://api.npmjs.org/
    librariesio:
      url: https://libraries.io/api
    logging:
      body-limit: 1024
      scope: request-response
      extensions-api:
        scope: all
  smallrye-graphql-client:
    github:
      header:
        Authorization: Bearer ${tech-lab-ingester.github.token}
        Content-Type: application/json; charset=utf-8
      url: https://api.github.com/graphql
tech-lab-ingester:
  export:
    INDICATOR_COMPUTATION:
      csv:
        enabled: false
    GITHUB_STARS:
      csv:
        to:
          gcp:
            enabled: false
    GITHUB_FORKS:
      csv:
        to:
          gcp:
            enabled: false
      
  indicators:
    github:
      stars:
        graphql:
          # Notice that history is fetched backwards (from the most recent to the most ancient)
          history: |
            query($owner:String!, $name:String!, $before:String="") {
              repository(owner: $owner, name: $name) {
                stargazers(last: 100, before:$before) {
                  pageInfo {
                    endCursor
                    hasNextPage
                    hasPreviousPage
                    startCursor
                  }
                  edges {
                    starredAt
                    node {
                      login
                    }
                  }
                }
              }
              rateLimit {
                cost
              }
            }
          today: |
            query($owner:String!, $name:String!) {
              repository(owner:$owner, name:$name) {
                stargazerCount
              }
              rateLimit {
                cost
              }
            }
        sql:
          # Build the global indicator from individual stargazers
          indicator: |
            SELECT
              EXTRACT(YEAR FROM STAR_DATE) AS STAR_YEAR,
              EXTRACT(MONTH FROM STAR_DATE) AS STAR_MONTH,
              COUNT(STAR_DATE) AS STARS_BY_MONTH
            FROM
              GITHUB_STARS WHERE REPO_OWNER=:owner AND REPO_NAME=:name GROUP BY EXTRACT(YEAR FROM STAR_DATE), EXTRACT(MONTH FROM STAR_DATE) ;
      forks: # New section for forks
        graphql:
          # Query for total number of forks
          today: | 
            query($owner: String!, $name: String!) {
              repository(owner: $owner, name: $name) {
                forkCount
              }
              rateLimit {
                cost
              }
            }
          history: |
            query($owner: String!, $name: String!, $before: String) {
              repository(owner: $owner, name: $name) {
                forks(last: 100, before: $before) {
                  totalCount
                  nodes {
                    createdAt 
                    owner {
                      login
                    }
                  }
                  pageInfo {
                    hasPreviousPage
                    startCursor
                  }
                }
              }
              rateLimit {
                cost
              }
            }
        sql:
          # Build the global indicator from individual stargazers
          indicator: |
            SELECT
              EXTRACT(YEAR FROM FORK_DATE) AS FORK_YEAR,
              EXTRACT(MONTH FROM FORK_DATE) AS FORK_MONTH,
              COUNT(FORK_DATE) AS FORK_BY_MONTH
            FROM
              GITHUB_FORKS
            WHERE REPO_OWNER=:owner AND REPO_NAME=:name
            GROUP BY EXTRACT(YEAR FROM FORK_DATE), EXTRACT(MONTH FROM FORK_DATE);

      issues:
        graphql:
          # Query for total number of issues
          today: |
            query ($owner: String!, $name: String!) {
              repository(owner: $owner, name: $name) {
                issues {
                  totalCount
                }
              }
              rateLimit {
                cost
              }
            }
          history: |
            query ($owner: String!, $name: String!, $before: String) {
              repository(owner: $owner, name: $name) {
                issues(last: 100, before: $before) {
                  totalCount
                  nodes {
                    createdAt
                    author {
                      login
                    }
                  }
                  pageInfo {
                    hasPreviousPage
                    startCursor
                  }
                }
              }
              rateLimit {
                cost
              }
            }
        sql:
          # Build the global indicator from individual issues
          indicator: |
            SELECT
              EXTRACT(YEAR FROM ISSUE_DATE) AS ISSUE_YEAR,
              EXTRACT(MONTH FROM ISSUE_DATE) AS ISSUE_MONTH,
              COUNT(ISSUE_DATE) AS ISSUE_BY_MONTH
            FROM
              GITHUB_ISSUES
            WHERE REPO_OWNER=:owner AND REPO_NAME=:name
            GROUP BY EXTRACT(YEAR FROM ISSUE_DATE), EXTRACT(MONTH FROM ISSUE_DATE);
      discussions: # New section for discussions
        graphql:
          # Query for total number of discussions
          today: |
            query($owner: String!, $name: String!) {
              repository(owner: $owner, name: $name) {
                discussions {
                  totalCount
                }
              }
              rateLimit {
                cost
              }
            }
          history: |
            query($owner: String!, $name: String!, $before: String) {
              repository(owner: $owner, name: $name) {
                discussions(last: 100, before: $before) {
                  totalCount
                  nodes {
                    createdAt 
                    author {
                      login
                    }
                  }
                  pageInfo {
                    hasPreviousPage
                    startCursor
                  }
                }
              }
              rateLimit {
                cost
              }
            }
        sql:
          # Build the global indicator from individual stargazers
          indicator: |
            SELECT
              EXTRACT(YEAR FROM FORK_DATE) AS FORK_YEAR,
              EXTRACT(MONTH FROM FORK_DATE) AS FORK_MONTH,
              COUNT(FORK_DATE) AS FORK_BY_MONTH
            FROM
              GITHUB_FORKS
            WHERE REPO_OWNER=:owner AND REPO_NAME=:name
            GROUP BY EXTRACT(YEAR FROM FORK_DATE), EXTRACT(MONTH FROM FORK_DATE);

  projects:
    per:
      page: 10
      platform: 1000